
.main {
  background-color: black;
  color: white;
  height: 100vh;
  margin: 0rem;
  overflow: hidden;
  width: 100vw;
}

.imageTrack {
  display: flex;
  gap: 4vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.image {
  height: 56vmin;
  object-fit: cover;
  object-position: 100% 50%;
  width: 40vmin;
}
